@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.transistion{
    transition: all .2s ease-in-out;
}